h2 {
    margin-top: 0.5rem;
}

.table {
    display: none;
    margin-bottom: 0px !important;
}

.col {
    min-height: 200px;
    min-width: 450px;
}

.table-div {
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
}

.hide-show {
    display: none;
    text-align: right;
    font-size: 8px;
    cursor: pointer;
}